CONFIG_IDF_TARGET="esp32c6"

# For Arduino
CONFIG_FREERTOS_HZ=1000
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_ARDUINO_VARIANT="sparkfun_esp32c6_thing_plus"

# For Serial
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_EXT_ADV=y
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=158

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
